Repository npdarrington/fitlit, pull requests merged in 2020-09, with the labels that each got.

#64 Sad pass refactor1 tj
  src/Hydration.js
  src/Sleep.js
  test/Sleep-test.js
  test/activity-test.js
  test/hydration-test.js
  test/userRepoTest.js
Labels: Test Driven Development

#65 Nd display dashboard
  .gitignore
  package-lock.json
  package.json
  src/Activity.js
  src/Hydration.js
  src/Sleep.js
  src/css/styles.css
  src/index.html
  src/scripts.js
  test/Sleep-test.js
  test/activity-test.js
  test/hydration-test.js
Labels: CSS, Dom, HTML, dataset, enhancement, iteration1, iteration2, iteration3, iteration4

#67 Ui clean up tj
  README.md
  src/css/styles.css
  src/index.html
  src/scripts.js
Labels: Dom, HTML, Refactor, enhancement

#68 Nd finalize ui
  src/css/styles.css
  src/index.html
Labels: CSS, HTML, Refactor

#70 Non ui refactor tj
  src/Activity.js
  src/Hydration.js
  src/Sleep.js
  src/scripts.js
  test/activity-test.js
Labels: Refactor, enhancement

#71 Nd grid bug
  src/Activity.js
  src/Sleep.js
  src/css/styles.css
  src/index.html
  src/scripts.js
  test/Sleep-test.js
Labels: CSS, Dom, HTML, bug

#72 Add readme
  README.md
Labels: Dom

#73 Add readme assests
  readme-assests/Fitlit-dashboard.png
  readme-assests/fitlit.gif
Labels: enhancement
